// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.accounts.index {
  #contents {
    max-width: 1200px !important;
    margin-top: 2% !important;
    padding-top: 20px !important;
    margin-bottom: 0 !important;

    #contents-header {
      float: center;
      margin-bottom: 10px;

      h1 {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      a:last-child {
        margin-bottom: 10px;
      }
    }

    .accounts-grid {
      float: left;
      margin-left: 5%;
      padding-bottom: 20px;

      .button {
        margin: 5px;
      }

      div.account {
        float: left;
        display: inline-block;
        padding: 40px;
        margin: 20px;
        @include box-shadow( 0 0 1px 2px rgba(0,0,0,.1));
        @include border-radius(10px);
        width: 250px;

        a.item-modal-form {
          margin-top: 20px;
          display: block;
        }

        .items {
          height: 60px;
          overflow: scroll;
        }
      }
    }
  }
}