<div class="item">
  <span><%= item.name_and_quantity %>: <%= item.print_total %> (the <%= item.bought_at.strftime("%y/%m/%d at %H:%M") %>)</span> <%= raw("<span>#{item.details}</span>") if item.details.present? %>
</div>
